* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eff6e0;
}

body {
    background-color: #01161e;
}

.banner {
    display: flex;
    justify-content: center; 
    background-color: #aec3b0;
}


.centro {
    display: flex;
    align-items: center; /* Alinea elementos verticalmente */
}

.derecha {
    display: flex;
    align-items: center;
    border: black solid;
    margin: 10px;
    border-radius: 0px; /* Alinea elementos verticalmente */
}

