* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: #eff6e0;
}

body {
    background-color: #01161e;
    margin-left: 10%;
    margin-right: 10%;
}

.banner {
    display: flex;
    justify-content: space-between;

}

.titulo,
.titulo h3,
.titulo i {
    display: flex;
    align-items: center;
    margin: 10px;
}

.botones {
    display: flex;
    margin-top: 15px;
}

.botones button {
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}